<header class="header">
  <div class="left-section">
    <ng-container *ngIf="showBackArrow">
      <button (click)="onBackArrowClick()">
        <span class="back-arrow icon">arrow_back</span>
      </button>
    </ng-container>
    <img
      src="https://pbs.twimg.com/profile_images/989078190307110912/7qd53cM6_400x400.jpg"
      alt="Logo"
      class="logo"
    />
  </div>
  <div class="right-section">
    <ng-container *ngIf="showMenu">
      <button (click)="onMenuClick()">
        <span class="menu icon">account_circle</span>
      </button>
    </ng-container>
  </div>
</header>
<div class="header-spacer"></div>
