<header class="header">
  <div class="left-section">
    <ng-container *ngIf="showBackArrow">
      <button (click)="onBackArrowClick()">
        <span class="back-arrow icon">arrow_back</span>
      </button>
    </ng-container>
    <img src="assets/logo.png" alt="Logo" class="logo" />
  </div>
  <div class="right-section">
    <ng-container *ngIf="showMenu">
      <button (click)="onMenuClick()">
        <span class="menu icon">Add_circle</span>
      </button>
      <button (click)="toggleSidebar()">
        <span class="menu icon">menu</span>
      </button>
    </ng-container>
  </div>
</header>
<div class="header-spacer"></div>
<app-sidebar
  [isSidebarOpen]="isSidebarOpen"
  (closeSidebar)="toggleSidebar()"
></app-sidebar>