@use '../../../styles.scss' as *;

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 .star {
  color: $primary-color;
  font-size: 1.5rem;
  font-variation-settings: 'FILL' 1;
}
.sub {
  margin: 0.5rem 0 2rem 0;
}

.month-section {
  margin-bottom: 2rem;
}

.month-header {
  display: flex;
  h4 {
    color: $medium;
    font-weight: 400;
    padding: 0;
    margin-right: 0.75rem;
    .month-year {
      color: inherit;
      font: inherit;
    }
  }
  hr {
    height: 0;
    border: 1px solid $medium;
    flex: 1;
  }
}
