@use '../../../styles.scss' as *;

.chips-container {
  display: flex;
  gap: 0.7rem;
  max-width: calc(100vw - 5.5rem);
}

.chip {
  font-size: 1rem;
  color: $dark;
  padding: 0.2rem 0.7rem;
  border: 0.1rem solid $medium;
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  &.selected {
    background-color: $primary-color;
    color: white;
    border-color: $primary-color;
    box-shadow: $shadow;

    &:nth-child(1) {
      background-color: $digital-ideation;
      border-color: $digital-ideation;
    }

    &:nth-child(2) {
      background-color: $stair;
      border-color: $stair;
    }

    &:nth-child(3) {
      background-color: $frame;
      border-color: $frame;
    }
  }
}
