@use '../../../styles.scss' as *;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative; 
  overflow: hidden; 
}

.balloon-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: none; 
}

.balloon {
  width: 1.5rem;
  animation: riseUp 6s ease-in infinite; 
  opacity: 0;
}

@keyframes riseUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: $shadow;
  z-index: 1; 
}

.logo {
  margin: 0 0 0 3rem;
}

h3,
h4 {
  margin: 0.5rem 0;
}


