<div class="login-container">
  <div class="balloon-container">
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
    <img src="assets/ballon_green.png" alt="balloon" class="balloon" />
  </div>
  <div class="login-card">
    <div class="logo-container">
      <img src="assets/logo.svg" alt="Logo" class="logo" />
      <h3>dass du hier bist!</h3>
      <h4>Entdecke die neusten Events!</h4>
    </div>
    <button class="primary" (click)="login()">LOGIN</button>
  </div>
</div>
