@use '../../../styles.scss' as *;

.subscribe-button {
  padding-right: 0;
  .icon {
    user-select: none;
    font-size: 2rem;
    color: $darkest;
  }
  &.subscribed {
    .icon {
      color: $primary-color;
    }
  }
}
