@use '../../../styles.scss' as *;

ul {
  list-style-type: none;
  padding: 0;
}

.filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}

.month-section {
  margin-top: 1.5rem;
  h2 {
    font-weight: 700;
    margin-left: 0.5rem;
  }
}

.month-year {
  font: inherit;
  font-weight: 400;
}
