<div class="container">
  <h1>Events</h1>
  <app-search></app-search>
  <div class="filter-section">
    <app-filter-chips></app-filter-chips>
    <app-subscribe-button
      (showPopover)="
        showPopover($event.text, $event.icon, $event.closeable, $event.buttons)
      "
    ></app-subscribe-button>
  </div>

  <h2>Nächste</h2>
  <div *ngIf="events$ | async as events">
    <div *ngFor="let month of events | keyvalue" class="month-section">
      <div class="month-header">
        <h4>
          {{ month.key | date : 'MMMM' }}
          <span
            *ngIf="!isCurrentYear(month.key | date : 'yyyy')"
            class="month-year"
            >{{ month.key | date : 'yyyy' }}
          </span>
        </h4>
        <hr />
      </div>
      <ul>
        <li *ngFor="let event of month.value">
          <app-event-item
            [event]="event"
            (showPopover)="
              showPopover(
                $event.text,
                $event.icon,
                $event.closeable,
                $event.buttons
              )
            "
            (favoriteChange)="onFavoriteChange($event)"
          ></app-event-item>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="popoverVisible">
    <app-popover
      [text]="popoverText"
      [icon]="popoverIcon"
      [buttons]="popoverButtons"
      [closeable]="popoverCloseable"
      (buttonClick)="handlePopoverAction($event)"
      (closeEvent)="handlePopoverClose()"
    ></app-popover>
  </div>
</div>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOL61GjI2pEwNlEkFcliwWI0PRHNif-ec&q=Eiffel+Tower,Paris+France"
  allowfullscreen>
</iframe>

<!DOCTYPE html>
<html>
<body>

  <h2>Füge ein Event hinzu</h2>
  <form [formGroup]="eventForm" (ngSubmit)="submit()"> 
    <label for="titel">Titel:</label><br>
    <input type="text" id="titel" formControlName="titel"><br>
    
    <label for="Ort">Ort:</label><br>
    <input type="text" id="ort" formControlName="ort"><br>
  
    <label for="datum">Datum:</label><br>
    <input type="date" id="datum" formControlName="datum"><br>
  
    <label for="start">Start zeit:</label><br>
    <input type="time" id="start" formControlName="start"><br><br>

    <label for="end">End Zeit:</label><br>
    <input type="time" id="end" formControlName="end"><br><br>

    <button type="submit">Submit</button>
  </form>
  
