<div class="container">
  <h1>Events</h1>
  <app-search></app-search>
  <div class="filter-section">
    <app-filter-chips></app-filter-chips>
    <app-subscribe-button></app-subscribe-button>
  </div>

  <!-- ✅ Diese Komponente holt und zeigt alle Events -->
  <app-event-list></app-event-list>
</div>
<iframe
  width="450"
  height="250"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBOL61GjI2pEwNlEkFcliwWI0PRHNif-ec&q=Eiffel+Tower,Paris+France"
  allowfullscreen>
</iframe>

<!DOCTYPE html>
<html>
<body>

<h2>Füge ein Event hinzu</h2>

<form action="/action_page.php" target="_blank" method="post">
  <label for="ltitel">Titel:</label><br>
  <input type="text" id="ltitel" name="ltitel" value=""><br>
  
  <label for="lname">Ort:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
   
  <label for="ldatum">Datum:</label><br>
  <input type="date" id="ldatum" name="ldatum"><br>
   
  <label for="lzeit">Start Zeit:</label><br>
  <input type="time" id="lzeit" name="lzeit"><br><br>
  
  <input type="submit" value="Submit">
</form>

</body>
</html>
