// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght@8..144,-10..0,25..151,100..1000&display=swap');

// <weight>: Use a value from 100 to 1000
// <slant>: Use a value from -10 to 0
// <width>: Use a value from 25 to 151
// <uniquifier>: Use a unique and descriptive class name

.roboto-flex {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; // <weight>
  font-style: normal;
  font-variation-settings:
    "slnt" 0, // <slant>
    "wdth" 100; // <width>
}

// Color variables
$primary-color: #007bff;
$primary-color-dark: #0056b3;
$background-color: #f4f4f4;
$text-color: #333;

// Global styles
* {
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: $text-color;
}

body {
  margin: 0;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 800;
  font-variation-settings:
      "wdth" 150
}

h1 {
  font-size: 2rem;
  margin-top: 2rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: $primary-color;
  text-decoration: underline;
}

button {
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  :hover {
      background-color: $primary-color-dark;
  }
}

.container {
  margin: 2rem;
}