@use '../../../styles.scss' as *;

.back-button {
  padding: 0;
  .icon {
    color: $primary-color;
  }
}

h1 {
  margin: 0 0 1rem 0;
}

.event-poster {
  width: calc(100% + 2rem);
  height: 100vw;
  max-height: 30rem;
  overflow: hidden;
  transform: translate(-1rem, 0);
  .poster-img {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    height: auto;
    min-height: 100%;
  }
  &.posterless {
    height: 4rem;
  }
  &.di {
    background-color: $digital-ideation;
  }
  &.stair {
    background-color: $stair;
  }
  &.frame {
    background-color: $frame;
  }
  .event-logo {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    z-index: 2;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      clip-path: circle(50%);
    }
  }
  .fullscreen {
    color: $lightest;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    text-shadow: 0 0 1px $darkest, 0 0 3px $darkest, 0 0 5px $darkest,
      0 0 10px $darkest, 0 0 15px $darkest, 0 0 20px $darkest, 0 0 25px $darkest,
      0 0 30px $darkest, 0 0 35px $darkest;
  }
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    .icon.favorite {
      color: $primary-color;
      font-variation-settings: 'FILL' 1;
    }
  }

  .icon-button:last-child {
    margin-left: auto;
  }
}

.event-details {
  display: flex;
  align-items: center;
  width: 10rem;
  height: 1.5rem;
  margin-bottom: 0.5rem;
  .icon {
    font-size: 1.5rem;
  }
  p {
    margin: 0.2rem 0 0.2rem 0.5rem;
  }
}

.event-description {
  margin: 1rem 0 2rem 0;
  text-align: left;
  h3 {
    padding: 1rem 0 0.5rem 0;
  }
  p {
    margin: 0;
  }
  .hashtags {
    span {
      font-size: inherit;
      color: $primary-color;
      padding-right: 0.5rem;
    }
  }
}
