<div class="container">
  <button class="back-button" (click)="goBack()">
    <span class="icon">keyboard_backspace</span>
  </button>
  <h1>{{ event?.summary }}</h1>
  <div
    class="event-poster {{ event?.by }}"
    [ngClass]="{ posterless: !event?.poster }"
  >
    <div class="event-logo">
      <img src="assets/{{ event?.by }}.jpg" alt="{{ event?.by }}" />
    </div>
    <img
      *ngIf="event?.poster"
      [src]="event?.poster"
      alt="Event Poster"
      class="poster-img"
    />
    <span *ngIf="event?.poster" class="icon fullscreen">fullscreen</span>
  </div>

  <div class="action-buttons">
    <button class="icon-button" (click)="toggleFavorite()">
      <span class="icon" [ngClass]="{ favorite: event?.favorite }">
        {{ event?.favorite ? 'star' : 'star_border' }}</span
      >
    </button>
    <button class="icon-button" (click)="onShareEvent()">
      <span class="icon">share</span>
    </button>
    <button class="icon-button" (click)="addToCalendar()">
      <span class="icon">calendar_add_on</span>
    </button>
  </div>

  <div class="event-details">
    <span class="icon">location_on</span>
    <p *ngIf="event?.location as location">
      <a
        class="link"
        *ngIf="location.split(',')[0] as part1"
        [href]="'https://www.google.com/maps/search/' + location"
        target="_blank"
      >
        {{ part1 }}
      </a>
      <span class="loc" *ngIf="location.split(',')[1] as part2">
        , {{ part2 }}
      </span>
    </p>
  </div>
  <div class="event-details">
    <span class="icon">calendar_month</span>
    <p>{{ event?.date | date : 'd. MMMM yyyy' }}</p>
  </div>
  <div class="event-details">
    <span class="icon">schedule</span>
    <p>{{ event?.time }}</p>
  </div>

  <div class="event-description">
    <h3>Eventdetails</h3>
    <p>{{ event?.description }}</p>
    <h3>Veranstalter</h3>
    <p>
      {{ event?.by === 'di' ? 'Digital Ideation' : event?.by?.toUpperCase() }}
    </p>
    <h3>Kosten</h3>
    <p>100.-</p>
    <h3>Hashtags</h3>
    <p class="hashtags">
      <span>#gaming</span>
      <span>#cool</span>
      <span>#fotzig</span>
    </p>
  </div>

  <button class="primary" (click)="goBack()">ZURÜCK</button>

  <app-popover
    [text]="popoverText"
    [icon]="popoverIcon"
    [buttons]="popoverButtons"
    [closeable]="popoverCloseable"
    [visible]="popoverVisible"
    (buttonClick)="handlePopoverAction($event)"
  ></app-popover>
</div>
