@use '../../../styles.scss' as *;

.event-item {
  background-color: $background-color-light;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  h2 {
    margin: 0 0 0.5rem 0;
  }
  p {
    margin: 0;
    color: $secondary-text-color;
  }
}
