<div class="event-card">
  <div class="event-left {{ event.by }}">
    <div class="event-logo">
      <img src="assets/{{ event.by }}.jpg" alt="{{ event.by }}" />
    </div>
  </div>
  <img src="{{ event.poster }}" alt="Poster" class="event-poster" />
  <div class="event-right">
    <h3>{{ event.name }}</h3>
    <h4>Digital Ideation</h4>
    <div class="event-details">
      <span class="icon">location_on</span>
      <p>{{ event.location }}</p>
    </div>
    <div class="event-details">
      <span class="icon">calendar_month</span>
      <p>{{ event.date }}</p>
    </div>
    <div class="event-details">
      <span class="icon">schedule</span>
      <p>{{ event.time }}</p>
    </div>
  </div>

  <div class="event-actions">
    <button class="event-button" (click)="OnSaveEvent()">
      <span class="icon">star</span>
    </button>
    <button class="event-button" (click)="OnShareEvent()">
      <span class="icon">share</span>
    </button>
    <button class="event-button" (click)="OnAddToCalender()">
      <span class="icon">calendar_add_on</span>
    </button>
  </div>
</div>
