<div class="event-card">
  <div
    class="event-left {{ event.by }}"
    [ngClass]="{ 'no-poster': !event.poster }"
  >
    <div class="event-logo">
      <img src="assets/{{ event.by }}.jpg" alt="{{ event.by }}" />
    </div>
  </div>
  <img
    *ngIf="event.poster"
    src="{{ event.poster }}"
    alt="Poster"
    class="event-poster"
  />
  <div class="event-right">
    <h3>{{ event.name }}</h3>
    <h4>Digital Ideation</h4>
    <div class="event-details">
      <span class="icon">location_on</span>
      <p>{{ event.location }}</p>
    </div>
    <div class="event-details">
      <span class="icon">calendar_month</span>
      <p>{{ event.date | date : 'd. MMMM yyyy' }}</p>
    </div>
    <div class="event-details">
      <span class="icon">schedule</span>
      <p>{{ event.time }}</p>
    </div>
  </div>

  <div
    class="event-actions"
    [ngStyle]="{ 'z-index': isPopupVisible ? '6' : 'auto' }"
  >
    <button
      class="event-button"
      [class.active]="isPopupVisible"
      (click)="togglePopup()"
    >
      <span class="icon">more_vert</span>
    </button>
  </div>
</div>

<div class="menu-popup">
  <button
    class="menu-popup-button"
    [ngClass]="{ favorite: isFavorite }"
    (click)="OnSaveEvent()"
  >
    <span class="icon">
      {{ isFavorite ? 'star' : 'star_border' }}
    </span>
    {{ isFavorite ? 'Aus Favoriten entfernen' : 'Zu Favoriten hinzufügen' }}
  </button>
  <hr />
  <button class="menu-popup-button" (click)="OnShareEvent()">
    <span class="icon">share</span> Teilen
  </button>
  <hr />
  <button class="menu-popup-button" (click)="OnAddToCalender()">
    <span class="icon">calendar_add_on</span> Zum Kalender hinzufügen
  </button>
  <hr />
  <button class="menu-popup-button" (click)="OnEditEvent()">
    <span class="icon">edit</span> Bearbeiten
  </button>
  <hr />
  <button class="menu-popup-button" (click)="OnDeleteEvent()">
    <span class="icon">delete</span> Löschen
  </button>
</div>
